@import "variables.scss";

/* 简单进行默认样式重置 */

*,
p {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-size: 14px;
    color: $base-text-color;
    background-color: $bg-color;
    font-family: 'Rajdhani', helvetica neue, hiragino sans gb, arial, microsoft yahei ui, microsoft yahei, simsun, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    overflow-x: hidden;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: $base-color;
}

button,
button:focus,
input,
input:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:focus {
    border-color: $base-color !important;
}

.modal-header,
.modal-footer {
    border-color: $grey;
}

.modal-footer {
    justify-content: center;
}

.modal {
    .modal-footer {
        button {
            width: 140px;
            margin: 10px;
            color: #fff;
        }

        .btn-cancel {
            background: $grey;
        }

        .btn-cancel:hover {
            background: #999;
            transition: background 0.2s ease-in-out;
        }

        .btn-sure {
            background: $base-color;
        }

        .btn-sure:hover {
            background: $active-color;
            transition: background 0.2s ease-in-out;
        }
    }
}

.add-group-modal .modal-dialog {
    width: 360px;
}

.c-nav-pills {
    background: $gray;

    .nav-pills {
        .nav-link {
            border-radius: 0;
            color: #fff;
            padding-right: 0px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .nav-link.active {
            background: $base-color;
        }

        .nav-link.c-add {
            margin-bottom: 80px;
        }
    }

    .tab-logo {
        width: 50px;
        height: 50px;
        margin: 30px auto;
        padding: 5px;
        background: #fff;
        border-radius: 50%;
    }

    .icon-add {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

}


.c-tag {
    color: $base-text-color;
    margin: 30px 0;
    cursor: pointer;

    .tag-logo {
        width: 50px;
        height: 50px;
        padding: 10px;
        border-radius: 50%;
        background: #fff;
        margin: 0 auto;

        img {
            width: 30px;
            object-fit: cover;
        }

    }

    .tag-name {
        width: 120px;
        height: 24px;
        line-height: 24px;
        border-radius: 12px;
        background: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 600;
        margin: 0 auto;
        padding: 0 10px;
    }

}

.c-tag:hover .tag-name {
    color: $base-color;
}


.upload-button,
.backup-button {
    padding: 5px 10px;
    background: #fff;
    color: $base-color;
    cursor: pointer;
    border: 1px solid $base-color;
}

.c-setting {
    width: 100%;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    background: $gray;

    .icon-setting {
        width: 20px;
    }
}

.c-direction-arrow {
    position: absolute;
    top: -20px;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-left: 18px;
    z-index: 2;
    display: none;
    cursor: pointer;
}

.c-logo {
    position: relative;
}

.c-logo .c-direction-arrow {
    top: 110px;
    transform: rotate(180deg);
    padding: 0 18px 0 0;
}

.outer-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.inner-container {
    position: absolute;
    left: 0;
    top: 130px;
    right: -17px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.err-msg {
    font-size: 14px;
    color: #F04D41;
    margin-top: 5px;
}