/* 湖蓝 */

:root {
	--base-text-color: #003543;
	--base-setting-text-color: #003543;
	--menu-text-color: #b2cccc;
	--nav-bg-color: #17202b;
	--operation-menu-color: #17202b;
	--btn-cancel-bg-color: #17202b;
	--bg-color: #e5f9ff;
	--modal-bg-color: #fff;
	--base-color: #568d9c;
	--active-color: #255461;
}

#bg-box {
	background: url('../images/bg_3_1.svg') bottom no-repeat;
	background-size: 100%;
}
