/* 星空灰 */

:root {
	--base-text-color: #333;
	--base-setting-text-color: #fff;
	--menu-text-color: #fff;
	--nav-bg-color: #282c34;
	--operation-menu-color: #282c34;
	--btn-cancel-bg-color: #282c34;
	--bg-color: #27282c;
	--modal-bg-color: #444;
	--base-color: #799d83;
	--active-color: #537b5e;
}

#bg-box {
	background: url('../images/bg_2.png') top no-repeat;
	background-size: 100%;
}
