/* global settings (theme related) */

:root {
    --base-text-color        : #333;
    --base-setting-text-color: #333;
    --nav-bg-color           : #444;
    --operation-menu-color   : #444;
    --btn-cancel-bg-color    : #ccc;
    --bg-color               : #ebebeb;
    --modal-bg-color         : #fff;
    --border-color           : #f2f2f2;
    --base-color             : #04ae92;
    --active-color           : #18cfb1;
}