/* 墨绿 */

:root {
	--base-text-color: #212529;
	--base-setting-text-color: #212529;
	--menu-text-color: #6ba43a;
	--nav-bg-color: #e3e4e4;
	--operation-menu-color: #666;
	--btn-cancel-bg-color: #ccc;
	--bg-color: #d9dada;
	--modal-bg-color: #fff;
	--border-color: #f2f2f2;
	--base-color: #6ba43a;
	--active-color: #2f8d4c;
}

#bg-box {
	background: url('../images/bg_1.png') top no-repeat;
	background-size: 100%;
}
