/* global settings (theme related) */

:root {
    --base-text-color        : #333;
    --base-setting-text-color: #333;
    --nav-bg-color           : #312726;
    --operation-menu-color   : #666;
    --btn-cancel-bg-color    : #ccc;
    --bg-color               : #EFF3F5;
    --modal-bg-color         : #fff;
    --border-color           : #f2f2f2;
    --base-color             : #a87462;
    --active-color           : #8f6152;
}

#bg-box{
    background: url("https://raw.githubusercontent.com/xiaonizi0601/custom_tags_chrome_extension/master/static/bg_4.jpg") no-repeat;
    background-size: 100% 100%;
}