/* 简约白 */

:root {
	--base-text-color: #333;
	--base-setting-text-color: #333;
	--menu-text-color: #fff;
	--nav-bg-color: #444;
	--operation-menu-color: #444;
	--btn-cancel-bg-color: #ccc;
	--bg-color: #ebebeb;
	--modal-bg-color: #fff;
	--base-color: #95cdde;
	--active-color: #5a91a1;
}

#bg-box {
	background: url('../images/bg_3_2.svg') 100px bottom no-repeat;
	background-size: 100%;
}
